@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
    height: 100vh;
    margin: 0;
    font-family: Roboto, sans-serif;
}

button {
    font-family: Roboto, sans-serif;
    border: none;
    border-radius: 5px;
    background: #3882F6;
    color: #ffffff;
    font-weight: 900;
    padding: 8px 16px;
    font-size: 24px;
}

.container {
    display: flex;
    flex-direction: column;

}

.header img {
    width: 70px;
}

.top {
    background-color: #1F2937;
    padding: 24px;

}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.headline {
    display: flex;
    justify-content: space-between;
}

.info {
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 24px;
}

.card-container {
    display: flex;
    gap: 20px;
}

.card {
    box-sizing: border-box;
    border: 2px solid  #3882F6;
  box-shadow: 2px 4px 16px rgba(0,0,0,.06);
  border-radius: 8px;
  padding: 16px;
  width: 150px;
  color: #0f0f0f;
    font-size: 18px;
}

.right {
    display: flex;
    border: 2px solid  #cdf638;
  box-shadow: 2px 4px 16px rgba(0,0,0,.06);
  border-radius: 8px;
}

.card img {
    width: 120px;
}

.title {
    font-size: 36px;
    color: #1F2937;
    font-weight: 900;
    margin-bottom: 10px;
}

.logo {
    color: #F9FAF8;
    font-size: 24px;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    gap: 16px;
}

a, .tiny-text {
    text-decoration: none;
    color: #E5E7EB;
    font-size: 18px;
}

.headline img {
    color: #E5E7EB;
    font-size: 15px;
    width: 300px;
    background-color: #808080;
}

.awesome {
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 900;
}
